{% extends "recipe/base.html" %}
{% block content %}
 

<div class="container mt-5">

    <!-- Search Form -->
    <form method="get" action="" class="mb-4">
        <div class="input-group col-6 mx-auto">
            <input type="text" name="search" class="form-control" placeholder="Search for recipes..." value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <!-- Add Recipe Form -->
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text  text-center"> My Recipes </h2>
        <br>
        <h3>Add Recipe</h3>
        <hr>
        <div class="form-group">
            <label>Recipe name</label>
            <input name="recipe_name" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Recipe description</label>
            <textarea name="recipe_description" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label>Recipe Image</label>
            <input name="recipe_image" type="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
    </form>

    <!-- Display Recipes -->
    <div class="mt-5">
        <h3>Recipes</h3>
        <hr>
        {% if recipes %}
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{ recipe.recipe_image.url }}" class="card-img-top" alt="{{ recipe.recipe_name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                                <a href ="{% url 'update_recipe' recipe.id%}" class = "btn btn-success">Edite Recipe</a> 
                                <a href ="{% url 'update_recipe' recipe.id%}"><i class="bi bi-pencil-square"></i></a> 
                                
                                <a href ="{% url 'delete_recipe' recipe.id%}" class = "btn btn-danger">Delete Recipe</a> 
                                <p class="card-text">{{ recipe.recipe_description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No recipes found.</p>
        {% endif %}
    </div>
</div>

{% endblock %}